<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ListaCitas</title>
    <style type="text/css">
        *{
            font-family: sans-serif;
        }

        @page {
            margin-top: 2cm;
            margin-bottom: 1cm;
            margin-left: 2.5cm;
            margin-right:  1.5cm;
            border: 5px solid blue;
          }

        table{
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            margin-top:20px;
        }

        table thead tr th, tbody tr td{
            font-size: 0.5em;
            word-wrap: break-word;
        }
        .encabezado{
            width: 100%;
        }

        .logo img{
            position: absolute;
            width: 200px;
            height: 90px;
            top:-20px;
            left:-20px;
        }
        h2.titulo{
            width: 450px;
            margin: auto;
            margin-top:15px; 
            margin-bottom:15px; 
            text-align: center;
            font-size:14pt;
        }

        .texto{
            width: 250px;
            text-align: center;
            margin:auto;
            margin-top:15px; 
            font-weight: bold;
            font-size:1.1em;
        }

        .fecha{
            width: 250px;
            text-align: center;
            margin:auto;
            margin-top:15px; 
            font-weight: normal;
            font-size:0.85em;
        }

        .total{
            text-align: right;
            padding-right: 15px;
            font-weight: bold;
        }

        table{
            width: 100%;
        }

        table thead{
            background:rgb(236, 236, 236)
        }

        table thead tr th{
            padding: 3px;
            font-size: 0.6em;
        }

        table tbody tr td{
            padding: 5px;
            font-size: 0.75em;
            word-wrap: break-word;
        }

        table tbody tr td.franco{
            background:red;
            color:white;
        }

        .centreado{
            padding-left: 0px;
            text-align: center;
        }

        .datos{
            margin-left: 15px;
            border-top:solid 1px;
            border-collapse: collapse;
            width: 250px;
        }

        .txt{
            font-weight: bold;
            text-align: right;
            padding-right: 5px;
        }

        .txt_center{
            font-weight: bold;
            text-align: center;
        }

        .centreado{
            text-align: center;
        }

        .bold{
            font-weight: bold;
        }

        .normal{
            font-weight: normal;
        }

        .gray{
            background:rgb(235, 235, 235);
        }

        .cumplimiento{
            position: absolute;
            width: 150px;
            right: 0px;
            top:86px;
        }

        .img_celda img{
            width: 45px;
        }

        .foto{
            padding: 0px;
            width: 140px;
            text-align: center;
        }

        .foto img{
            margin:3px;
            width: 110px;
        }

        .salto_pagina{
            page-break-after:always;
        }
    </style>
</head>
<body>
    {{#each datos.pacientes as |paciente|}}
    <div class="encabezado">
        <div class="logo">
            <img src="{{../datos.urlbase}}/imgs/{{../datos.razon_social.logo }}">
        </div>
        <h2 class="titulo">
            {{ datos.razon_social.nombre }}
        </h2>
        <h4 class="texto">LISTA DE CITAS MÉDICAS</h4>
        <h4 class="fecha">Expedido: {{../datos.fecha}}</h4>
    </div>

    <table border="1">
        <tbody>
            <tr>
                <td colspan="4" class="centreado gray bold">INFORMACIÓN PERSONAL</td>
            </tr>
            <tr>
                <td class="bold" width="18%">Nombre:</td>
                <td width="40%">{{paciente.nombre}} {{paciente.paterno}} {{paciente.materno}}</td>
                <td rowspan="4" colspan="2" class="foto"><img src="{{../datos.urlbase}}/imgs/users/{{paciente.foto}}" alt="Foto"></td>
            </tr>
            <tr>
                <td class="bold">C.I.:</td>
                <td>{{paciente.ci}} {{paciente.ci_exp}}</td>
            </tr>
            <tr>
                <td class="bold">Teléfono - Celular:</td>
                <td>{{paciente.fono}} - {{paciente.cel}}</td>
            </tr>
            <tr>
                <td class="bold">Correo:</td>
                <td>{{paciente.correo}}</td>
            </tr>
        </tbody>
    </table>
    {{#if paciente.citas}}
    <table border="1">
        <thead>
            <tr>
                <th colspan="5" class="centreado bold">LISTA DE CITAS</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Fecha Registro</th>
            </tr>
        </thead>
        <tbody>
            {{#each paciente.citas as |cita|}}
            <tr>
                <td>{{cita.fecha}}</td>
                <td>{{cita.hora}}</td>
                <td>{{cita.especialidad.nombre}}</td>
                <td>{{cita.estado}}</td>
                <td>{{cita.fecha_registro}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h4>NO SE ENCONTRARÓN REGISTROS EN EL RANGO DE FECHAS QUE INDICO</h4>
    {{/if}}
    <div class="salto_pagina"></div>
    {{/each}}

</body>
</html>