<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>RecetaMedica</title>
    <style type="text/css">
        * {
            font-family: sans-serif;
        }

        @page {
            margin-top: 2cm;
            margin-bottom: 1cm;
            margin-left: 1.5cm;
            margin-right: 1cm;
            border: 5px solid blue;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            margin-top: 20px;
        }

        .encabezado {
            width: 100%;
        }

        .logo img {
            position: absolute;
            width: 200px;
            height: 90px;
            top: -20px;
            left: -20px;
        }

        h2.titulo {
            width: 450px;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            font-size: 14pt;
        }

        .texto {
            width: 250px;
            text-align: center;
            margin: auto;
            margin-top: 15px;
            font-weight: bold;
            font-size: 1.1em;
        }

        .fecha {
            width: 250px;
            text-align: center;
            margin: auto;
            margin-top: 15px;
            font-weight: normal;
            font-size: 0.85em;
        }

        .total {
            text-align: right;
            padding-right: 15px;
            font-weight: bold;
        }

        table {
            width: 70%;
            margin: auto;
        }

        table thead {
            background: rgb(236, 236, 236)
        }

        table thead tr th {
            padding: 3px;
        }

        table tbody tr td {
            padding: 3px;
            word-wrap: break-word;
        }

        table tbody tr td.franco {
            background: red;
            color: white;
        }

        .centreado {
            padding-left: 0px;
            text-align: center;
        }

        .datos {
            margin-left: 15px;
            border-top: solid 1px;
            border-collapse: collapse;
            width: 250px;
        }

        .txt {
            font-weight: bold;
            text-align: right;
            padding-right: 5px;
        }

        .txt_center {
            font-weight: bold;
            text-align: center;
        }

        .cumplimiento {
            position: absolute;
            width: 150px;
            right: 0px;
            top: 86px;
        }

        .p_cump {
            color: red;
            font-size: 1.2em;
        }

        .b_top {
            border-top: solid 1px black;
        }

        .gray {
            background: rgb(202, 202, 202);
        }

        .txt_rojo {}

        .img_celda img {
            width: 35px;
        }

        .salto_pagina {
            page-break-after: always;
        }

        .nueva_pagina {
            page-break-after: always;
        }

        .page.landscape {
            width: 11.7in;
            height: 8.2in;
        }

        .bold{
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="encabezado">
        <div class="logo">
            <img src="{{datos.urlbase}}/imgs/{{datos.razon_social.logo }}">
        </div>
        <h2 class="titulo">
            {{ datos.razon_social.nombre }}
        </h2>
        <h4 class="texto">RECETA MÉDICA</h4>
        {{!-- <h4 class="fecha">Expedido: {{datos.fecha}}</h4> --}}
    </div>
    <p><span class="bold">NOMBRE DEL PACIENTE:</span> {{datos.receta_seguimiento.paciente}}</p>
    <p class="bold">MEDICAMENTOS: </p>
    <table>
        <tbody>
            {{#each datos.recetas}}
            <tr>
                <td>{{this.producto}} <small style="font-size: 0.55em;">({{this.tipo}})</small> - <b>CANTIDAD: </b>{{this.cantidad}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="bold">DESCRIPCIÓN: </p>
    <p>{{datos.receta_seguimiento.descripcion}}</p>
    <p><span class="bold">FECHA:</span> {{datos.receta_seguimiento.fecha}}</p>
</body>
</html>