{{#section 'css'}}
<link rel="stylesheet" href="{{urlglobal}}/css/consultas/create.css">
{{/section}}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Consultas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/consultas">Consultas</a></li>
                    <li class="breadcrumb-item active">Nuevo</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Nueva consulta</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Seleccionar paciente*</label>
                                    <select name="select_paciente" id="select_paciente" class="form-control">
                                        <option value="">Seleccione...</option>
                                        {{#each pacientes}}
                                        <option value="{{this.id}}">{{this.nombre}} {{this.paterno}}
                                            {{this.materno}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="{{urlglobal}}/consultas/store" method="POST" id="formWizard">
                            {{!--
                            {{#switch especialidad.nombre}}
                            {{#case 'PEDIATRÍA'}}
                            {{> consultas/examen_fisico}}
                            {{> consultas/obstreticos}}
                            {{> consultas/gestacion}}
                            {{/case}}
                            {{#case 'GINECOLOGÍA'}}
                            {{> consultas/examen_fisico}}
                            {{> consultas/obstreticos}}
                            {{> consultas/gestacion}}
                            {{> consultas/morbilidad}}
                            {{/case}}
                            {{#case 'CARDIOLOGÍA'}}
                            {{> consultas/examen_fisico}}
                            {{/case}}
                            {{#case 'ECOGRAFÍA'}}
                            {{> consultas/examen_fisico}}
                            {{> consultas/obstreticos}}
                            {{> consultas/gestacion}}
                            {{> consultas/morbilidad}}
                            {{/case}}
                            {{#case 'ODONTOLOGÍA'}}
                            {{> consultas/odontologico}}
                            {{/case}}
                            {{#case 'LABORATORIOS'}}
                            {{> consultas/laboratorios}}
                            {{/case}}
                            {{/switch}} --}}
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<input type="hidden" id="especialidad_id" value="{{especialidad_id}}">
<input type="hidden" id="nom_especialidad" value="{{nom_especialidad}}">
{{#section 'scripts'}}
<script>
    var form = $("#formWizard");

    $(document).ready(function () {
        obtieneFormluario();
        $('#select_paciente').change(function () {
            obtieneFormluario();
        });
    });

    function obtieneFormluario() {
        if ($('#select_paciente').val() != '') {
            $.ajax({
                type: "GET",
                url: '{{urlglobal}}/consultas/obtieneFormluario',
                data: {
                    especialidad_id: $('#especialidad_id').val(),
                    nom_especialidad: $('#nom_especialidad').val(),
                    paciente_id: $('#select_paciente').val()
                },
                success: function (response) {
                    form.html(response);
                    form.steps({
                        headerTag: "h3",
                        bodyTag: "fieldset",
                        transitionEffect: "slideLeft",
                        onInit: function (event, currentIndex) {
                            resizeJquerySteps();
                        },
                        onStepChanging: function (event, currentIndex, newIndex) {
                            resizeJquerySteps();
                            // Allways allow previous action even if the current form is not valid!
                            if (currentIndex > newIndex) {
                                return true;
                            }
                            // Forbid next action on "Warning" step if the user is to young
                            if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                                return false;
                            }

                            // Needed in some cases if the user went back (clean up)
                            if (currentIndex < newIndex) {
                                // To remove error styles
                                form.find(".body:eq(" + newIndex + ") label.error").remove();
                                form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                            }
                            form.validate().settings.ignore = ":disabled,:hidden";
                            return form.valid();
                        },
                        onStepChanged: function (event, currentIndex, priorIndex) {
                            resizeJquerySteps();
                            // Used to skip the "Warning" step if the user is old enough.
                            if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                                form.steps("next");
                            }
                            // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                            if (currentIndex === 2 && priorIndex === 3) {
                                form.steps("previous");
                            }
                        },
                        onFinishing: function (event, currentIndex) {
                            form.validate().settings.ignore = ":disabled";
                            return form.valid();
                        },
                        onFinished: function (event, currentIndex) {
                            form_data = form.serialize();
                            form_data += '&paciente_id=' + $('#select_paciente').val();
                            $.ajax({
                                type: "POST",
                                url: form.attr('action'),
                                data: form_data,
                                dataType: "json",
                                success: function (response) {
                                    window.location.href = '{{urlglobal}}/consultas';
                                }
                            });
                        },
                        height: '150px'
                    }).validate({
                        errorPlacement: function errorPlacement(error, element) { element.after(error); },
                        rules: {
                            confirm: {
                                equalTo: "#password-2"
                            }
                        }
                    });
                },
                error: function (e) {
                    console.log(e);
                }
            });
        } else {
            form.html('Debe seleccionar un paciente...');
        }
    }
</script>
{{/section}}