<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Horarios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home')}}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/especialidads')}}">Especialidades</a></li>
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/horarios/{{especialidad.id}}">Horarios - {{especialidad.nombre}}</a></li>
                    <li class="breadcrumb-item active">Nuevo</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Nuevo horario</h3>
                    </div>
                    <!-- /.card-header -->
                    <form action="{{urlglobal}}/horarios/store" method="POST">
                        <div class="card-body">
                            <input type="hidden" name="especialidad_id" value="{{especialidad.id}}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hora*</label>
                                        <select name="hora" id="hora" class="form-control" required>
                                            <option value="">Seleccione...</option>
                                            {{#each horas}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-info"><i class="fa fa-save"></i> GUARDAR</button>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
