<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Recetas Médicas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home">Inicio</a></li>
                    {{#if_equal user.tipo "DOCTOR"}}
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/seguimientos">Seguimientos</a></li>
                    {{/if_equal}}
                    <li class="breadcrumb-item active">Recetas Médicas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-8 col-md-offset-2"> 
                            <table class="table table-bordered">
                                <tr>
                                    <td width="120px">Paciente: </td>
                                    <td>{{seguimiento.paciente.nombre}} {{seguimiento.paciente.paterno}} {{seguimiento.paciente.materno}}</td>
                                    <td rowspan="3" class="foto_user">
                                        <img src="{{urlglobal}}/imgs/users/{{seguimiento.paciente.user.foto}}" alt="Foto">
                                    </td>
                                </tr>
                                <tr>
                                    <td>C.I.:</td>
                                    <td>{{seguimiento.paciente.ci}} {{seguimiento.paciente.ci_exp}}</td>
                                </tr>
                                <tr>
                                    <td>Teléfono - Celular</td>
                                    <td>{{seguimiento.paciente.fono}} - {{seguimiento.paciente.cel}}</td>
                                </tr>
                            </table>
                        </div>
                        {{#if_equal user.tipo "DOCTOR"}}
                        <a href="{{urlglobal}}/receta_seguimientos/create/{{seguimiento.id}}" class="btn btn-info"><i class="fa fa-plus"></i> Nuevo</a>
                        {{/if_equal}}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table data-table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Medicamentos</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each receta_seguimientos}}
                                <tr>
                                    <td>{{this.fecha}}</td>
                                    <td>{{this.descripcion}}</td>
                                    <td>
                                        <ul>
                                            {{#each this.recetas}}
                                            <li>{{this.nombre}}</li>
                                            {{/each}}
                                        </ul>
                                    </td>
                                    <td class="btns-opciones">
                                        <a href="{{urlglobal}}/reportes/recetas/{{this.id}}" class="evaluar" target="_blank"><i class="fa fa-file-pdf" data-toggle="tooltip" data-placement="left" title="PDF"></i></a>

                                        <a href="{{urlglobal}}/receta_seguimientos/edit/{{this.id}}" class="modificar"><i class="fa fa-edit" data-toggle="tooltip" data-placement="left" title="Modificar"></i></a>
    
                                        <a href="#" data-url="{{urlglobal}}/receta_seguimientos/destroy/{{this.id}}" data-toggle="modal" data-target="#modal-eliminar" class="eliminar"><i class="fa fa-trash" data-toggle="tooltip" data-placement="left" title="Eliminar"></i></a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

{{>modal/eliminar}}

{{#section 'scripts'}}
<script>
     $('table.data-table').DataTable({
        order:[
            [0,'desc']
        ],
        columns : [
            {width:"15%"},
            null,
            null,
            {width:"10%"},
        ],
        scrollCollapse: true,
        language: lenguaje,
        pageLength:25
    });

 
    // ELIMINAR
    $(document).on('click','table tbody tr td.btns-opciones a.eliminar',function(e){
        e.preventDefault();
        let tratamiento = $(this).parents('tr').children('td').eq(0).text();
        $('#mensajeEliminar').html(`¿Está seguro(a) de eliminar el registro con fecha <b>${tratamiento}</b>?<br><h4>Esta acción no se podra deshacer.</h4>`);
        let url = $(this).attr('data-url');
        console.log($(this).attr('data-url'));
        $('#formEliminar').prop('action',url);
    });

    $('#btnEliminar').click(function(){
        $('#formEliminar').submit();
    });

</script>
{{/section}}