<li class="nav-item">
    <a href="{{urlbase}}/users" class="nav-link {{#if_equal pagina.actual "users"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-users"></i>
        <p>Usuarios</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlbase}}/doctors" class="nav-link {{#if_equal pagina.actual "doctors"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-user-md"></i>
        <p>Doctores</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlbase}}/especialidads" class="nav-link {{#if_equal pagina.actual "especialidads"}} active
        {{/if_equal}}">
        <i class="nav-icon fas fa-list-alt"></i>
        <p>Especialidades</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlbase}}/pacientes" class="nav-link {{#if_equal pagina.actual "pacientes"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-users"></i>
        <p>Pacientes</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlbase}}/stock_productos" class="nav-link {{#if_equal pagina.actual "stock_productos"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-list"></i>
        <p>Stock de Productos</p>
    </a>
</li>

<li class="nav-item {{#if_equal pagina.actual "productos"}} active open menu-open{{/if_equal}} {{#if_equal pagina.actual "ingresos"}} active open menu-open{{/if_equal}}">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-list-alt"></i>
        <p>Inventario de Productos <i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{urlbase}}/productos" class="nav-link {{#if_equal pagina.actual "productos"}} active {{/if_equal}}">
                <i class="nav-icon far fa-circle"></i>
                <p>Productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{urlbase}}/productos/ingresos" class="nav-link {{#if_equal pagina.actual "ingresos"}} active {{/if_equal}}">
                <i class="nav-icon far fa-circle"></i>
                <p>Ingreso de Productos</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item">
    <a href="{{urlbase}}/razon_social" class="nav-link {{#if_equal pagina.actual "razon_social"}} active
        {{/if_equal}}">
        <i class="nav-icon fa fa-hospital"></i>
        <p>Razón social</p>
    </a>
</li>


<li class="nav-item">
    <a href="{{urlbase}}/reportes" class="nav-link {{#if_equal pagina.actual "reportes"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>Reportes</p>
    </a>
</li>