<div class="menu-item has-sub">
  <a href="javascript:;" class="menu-link">
    <div class="menu-icon">
      <i class="fa fa-sitemap"></i>
    </div>
    <div class="menu-text">Análisis de Predicciones</div>
    <div class="menu-caret"></div>
  </a>
  <div class="menu-submenu">
    <div class="menu-item">
      <a href="{{urlbase}}/analisis/inventario" class="menu-link"><div
          class="menu-text"
        >Inventario</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v2.html" class="menu-link"><div
          class="menu-text"
        >Proveedores</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v3.html" class="menu-link"><div
          class="menu-text"
        >Ventas</div></a>
    </div>
    <div class="menu-item">
      <a href="index_v3.html" class="menu-link"><div
          class="menu-text"
        >Clientes</div></a>
    </div>
  </div>
</div>

<div class="menu-item {{#if_equal pagina.actual "ventas"}} active {{/if_equal}}">
    <a href="{{urlbase}}/ventas" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-list-alt"></i>
        </div>
        <div class="menu-text">Ventas</div>
    </a>
</div>

<div class="menu-item {{#if_equal pagina.actual "productos"}} active {{/if_equal}}">
    <a href="{{urlbase}}/productos" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-list-alt"></i>
        </div>
        <div class="menu-text">Productos</div>
    </a>
</div>

<div class="menu-item has-sub">
  <a href="javascript:;" class="menu-link">
    <div class="menu-icon">
      <i class="fa fa-list"></i>
    </div>
    <div class="menu-text">Ingresos y Salidas de Productos</div>
    <div class="menu-caret"></div>
  </a>
  <div class="menu-submenu">
    <div class="menu-item">
      <a href="{{urlbase}}/ingreso_productos" class="menu-link"><div
          class="menu-text"
        >Ingreso de productos</div></a>
    </div>
    <div class="menu-item">
      <a href="{{urlbase}}/salida_productos" class="menu-link"><div
          class="menu-text"
        >Salida de productos</div></a>
    </div>
    <div class="menu-item">
      <a href="{{urlbase}}/tipo_ingresos" class="menu-link"><div
          class="menu-text"
        >Tipos de Ingresos</div></a>
    </div>
    <div class="menu-item">
      <a href="{{urlbase}}/tipo_salidas" class="menu-link"><div
          class="menu-text"
        >Tipos de Salidas</div></a>
    </div>
  </div>
</div>

<div class="menu-item {{#if_equal pagina.actual "marcas"}} active {{/if_equal}}">
    <a href="{{urlbase}}/marcas" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-list-alt"></i>
        </div>
        <div class="menu-text">Marcas</div>
    </a>
</div>

<div class="menu-item {{#if_equal pagina.actual "clientes"}} active {{/if_equal}}">
    <a href="{{urlbase}}/clientes" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-list-alt"></i>
        </div>
        <div class="menu-text">Clientes</div>
    </a>
</div>

<div class="menu-item {{#if_equal pagina.actual "proveedors"}} active {{/if_equal}}">
    <a href="{{urlbase}}/proveedors" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-user-friends"></i>
        </div>
        <div class="menu-text">Proveedores</div>
    </a>
</div>

<div class="menu-item {{#if_equal pagina.actual "users"}} active {{/if_equal}}">
    <a href="{{urlbase}}/users" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-users"></i>
        </div>
        <div class="menu-text">Usuarios</div>
    </a>
</div>

<div class="menu-item {{#if_equal pagina.actual "configuracions"}} active {{/if_equal}}">
    <a href="{{urlbase}}/configuracions" class="menu-link">
        <div class="menu-icon">
        <i class="fa fa-cog"></i>
        </div>
        <div class="menu-text">Configuración</div>
    </a>
</div>
