<li class="nav-item">
    <a href="{{urlglobal}}/pacientes" class="nav-link {{#if_equal pagina.actual "pacientes"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-users"></i>
        <p>Pacientes</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlglobal}}/citas" class="nav-link {{#if_equal pagina.actual "citas"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-list-alt"></i>
        <p>Citas Médicas</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlglobal}}/consultas" class="nav-link {{#if_equal pagina.actual "consultas"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-file-signature"></i>
        <p>Consultas</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlglobal}}/seguimientos" class="nav-link {{#if_equal pagina.actual "seguimientos"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-list-alt"></i>
        <p>Seguimientos</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlglobal}}/tratamientos_pacientes" class="nav-link {{#if_equal pagina.actual "tratamientos_pacientes"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-list-alt"></i>
        <p>Tratamientos Pacientes</p>
    </a>
</li>

<li class="nav-item">
    <a href="{{urlglobal}}/reportes" class="nav-link {{#if_equal pagina.actual "reportes"}} active {{/if_equal}}">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>Reportes</p>
    </a>
</li>