<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Stock de Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Stock de Productos</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Stock Actual</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each productos}}
                                <tr class="{{#menor_igual_que this.stock_actual this.cantidad_alerta}}alerta{{/menor_igual_que}}">
                                    <td><img src="{{urlbase}}/imgs/productos/{{this.foto}}" alt="Foto" class="img-table"></td>
                                    <td>{{this.nombre}}</td>
                                    <td>{{this.descripcion}}</td>
                                    <td>{{this.stock_actual}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

{{> modal/eliminar}}

{{#section 'scripts'}}
{{/section}}
