<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Especialidades</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Especialidades</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        {{!-- <a href="{{urlglobal}}/especialidads/create" class="btn btn-info"><i class="fa fa-plus"></i> Nuevo</a> --}}
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table data-table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    {{!-- <th>Horarios Configurados</th> --}}
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                               {{#each especialidads}}
                                <tr>
                                    <td>{{this.nombre}}</td>
                                    <td>{{this.descripcion}}</td>
                                    {{!-- <td class="nro_info">
                                        <span class="badge badge-info right" data-toggle="tooltip" title="{{this.nro_horarios}} horarios configurados">{{this.nro_horarios}}</span>
                                    </td> --}}
                                    <td class="btns-opciones">
                                        {{!-- <a href="{{urlglobal}}/horarios/{{this.id}}" class="evaluar"><i class="fa fa-clock" data-toggle="tooltip" data-placement="left" title="Horarios"></i></a> --}}
    
                                        <a href="{{urlglobal}}/especialidads/show/{{this.id}}" class="evaluar"><i class="fa fa-eye" data-toggle="tooltip" data-placement="left" title="Ver"></i></a>
    
                                        {{!-- <a href="#" data-url="{{urlglobal}}/especialidads/destroy/{{this.id}}" data-toggle="modal" data-target="#modal-eliminar" class="eliminar"><i class="fa fa-trash" data-toggle="tooltip" data-placement="left" title="Eliminar"></i></a> --}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body .
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

{{>modal/eliminar}}
{{#section 'scripts'}}
<script>

    $('table.data-table').DataTable({
        responsive: true,
        order:[
            [0,'asc']
        ],
        columns : [
            null,
            null,
            {width:"15%"},
        ],
        scrollCollapse: true,
        language: lenguaje,
        pageLength:25
    });

 
    // ELIMINAR
    $(document).on('click','table tbody tr td.btns-opciones a.eliminar',function(e){
        e.preventDefault();
        let especialidad = $(this).parents('tr').children('td').eq(0).text();
        $('#mensajeEliminar').html(`¿Está seguro(a) de eliminar la especialidad <b>${especialidad}</b>?`);
        let url = $(this).attr('data-url');
        console.log($(this).attr('data-url'));
        $('#formEliminar').prop('action',url);
    });

    $('#btnEliminar').click(function(){
        $('#formEliminar').submit();
    });

</script>
{{/section}}
