<h3>EXAMEN FÍSICO</h3>
<fieldset>
    <legend>EXAMEN FÍSICO</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Ex. fisico general. (Conciencia, psiquismo, estado nutricional, fascies)*</label>
                <textarea name="e_general" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.e_general}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Piel y Faneras*</label>
                <textarea name="piel" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.piel}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Craneo cara (ojos, oidos, nariz, boca, faringe)*</label>
                <textarea name="craneo" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.craneo}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Cuello y Tiroides*</label>
                <textarea name="cuello" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.cuello}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Torax, Mamas, Cardiopulmonar*</label>
                <textarea name="torax" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.torax}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Abdomen*</label>
                <textarea name="abdomen" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.abdomen}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Genitales, urinario y rectal*</label>
                <textarea name="genitales" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.genitales}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Columna vertebral y extremidades*</label>
                <textarea name="columna" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.columna}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Examen neurológico*</label>
                <textarea name="neurologico" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.neurologico}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Impresión diagnóstica*</label>
                <textarea name="impresion" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.impresion}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Conducta*</label>
                <textarea name="conducta" cols="30" rows="3" class="form-control required">{{consulta.examen_fisico.conducta}}</textarea>
            </div>
        </div>
    </div>

</fieldset>