<h3>CONDICIONES MORBILIDAD</h3>
<fieldset>
    <legend>CONDICIONES POTENCIALMENTE PELIGROSAS PARA MORBILIDAD</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Hemorragia*</label>
                <select name="hemorragia" id="hemorragia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_hemorragia" cols="30" rows="2" class="form-control">{{consulta.morbilidad.observacion_hemorragia}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Transtornos hipertensivos*</label>
                <select name="transtornos" id="transtornos" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_transtornos" cols="30" rows="2" class="form-control">{{consulta.morbilidad.observacion_transtornos}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Infecciones*</label>
                <select name="infecciones" id="infecciones" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_infecciones" cols="30" rows="2" class="form-control">{{consulta.morbilidad.observacion_infecciones}}</textarea>
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Complic. Obstétricas*</label>
                <select name="obstetricas" id="obstetricas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_obstetricas" cols="30" rows="2" class="form-control">{{consulta.morbilidad.observacion_obstetricas}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Intervenciones*</label>
                <select name="intervencion" id="intervencion" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_intervencion" cols="30" rows="2" class="form-control">{{consulta.morbilidad.observacion_intervencion}}</textarea>
            </div>
        </div>
    </div>

</fieldset>