<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Doctores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home')}}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/doctors')}}">Doctores</a></li>
                    <li class="breadcrumb-item active">Modificar</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Modificar Doctor</h3>
                    </div>
                    <!-- /.card-header -->
                    <form action="{{urlglobal}}/doctors/update/{{usuario.id}}" method="post" enctype="multipart/form-data" class="formValidate">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre*</label>
                                        <input type="text" name="nombre" value="{{usuario.nombre}}" class="form-control required letras" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Paterno*</label>
                                        <input type="text" name="paterno" value="{{usuario.paterno}}" class="form-control required letras" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Materno</label>
                                        <input type="text" name="materno" value="{{usuario.materno}}" class="form-control letras">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>C.I.*</label>
                                        <input type="number" name="ci" value="{{usuario.ci}}" class="form-control required number" required>
                                        {{#if error_ci}}
                                        <span class="invalid-feedback" style="color:red;display:block" role="alert">
                                            <strong>{{ error_ci }}</strong>
                                        </span>
                                        {{/if}}
                                    </div>
                                </div> 
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Expedido*</label>
                                        <select name="ci_exp" id="ci_exp" class="form-control required" required>
                                            <option value="">Seleccione...</option>
                                            <option value="LP">LA PAZ</option>
                                            <option value="CB">COCHABAMBA</option>
                                            <option value="SC">SANTA CRUZ</option>
                                            <option value="PT">POTOSI</option>
                                            <option value="OR">ORURO</option>
                                            <option value="CH">CHUQUISACA</option>
                                            <option value="TJ">TARIJA</option>
                                            <option value="BN">BENI</option>
                                            <option value="PD">PANDO</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>Dirección*</label>
                                        <input type="text" name="dir" value="{{usuario.dir}}" class="form-control required" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento*</label>
                                        <input type="date" name="fecha_nac" value="{{ usuario.fecha_nac }}" class="form-control required" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Lugar de Nacimiento</label>
                                        <input type="text" name="lugar_nac" value="{{ usuario.lugar_nac }}" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Género*</label>
                                        <select name="genero_id" id="genero_id" class="form-control required" required>
                                            <option value="">Seleccione...</option>
                                            {{#each generos}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Correo*</label>
                                        <input type="email" name="email" value="{{usuario.email}}" class="form-control required email">
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" name="fono" value="{{usuario.fono}}" class="form-control number">
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Celular*</label>
                                        <input type="text" name="cel" value="{{usuario.cel}}" class="form-control required number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Especialidad*</label>
                                        <select name="especialidad_id" id="especialidad_id" class="form-control required" required>
                                            <option value="">Seleccione...</option>
                                            {{#each especialidads}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4"> 
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <input type="file" name="foto" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado civil</label>
                                        <input type="text" name="estado_civil" value="{{ usuario.estado_civil }}" class="form-control letras">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombre Familiar*</label>
                                        <input type="text" name="nombre_familiar" value="{{ usuario.nombre_familiar }}" class="form-control required letras" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono familiar*</label>
                                        <input type="text" name="fono_familiar" value="{{ usuario.fono_familiar }}" class="form-control required number" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo Familiar*</label>
                                        <input type="email" name="correo_familiar" value="{{ usuario.correo_familiar }}" class="form-control required email" required>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-info"><i class="fa fa-update"></i> ACTUALIZAR</button>
                        </div>
                    </form>
                    <!-- /.card-body -->
                </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>


{{#section 'scripts'}}
<script type="text/javascript">
                window.onload = function() {
                    document.getElementById("ci_exp").value = "{{usuario.ci_exp}}";
                    document.getElementById("especialidad_id").value = "{{usuario.especialidad_id}}";
                    document.getElementById("genero_id").value = "{{usuario.genero_id}}";
                };
                $('.formValidate').validate({
        errorPlacement: function errorPlacement(error, element) { element.after(error); },
        rules: {
        },
    });
</script>
{{/section}}