<h3>INFORMACIÓN</h3>
<fieldset>
    <legend>INFORMACIÓN CONSULTA</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Motivo de la consulta*</label>
                <textarea name="motivo_consulta" id="" cols="30" rows="3"
                    class="form-control required">{{consulta.motivo_consulta}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Descripción molestia*</label>
                <textarea name="descripcion_dolencia" id="" cols="30" rows="3"
                    class="form-control required">{{consulta.descripcion_dolencia}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hipertensión arterial*</label>
                <select name="hipertension" id="hipertension" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>TBC Pulmonar*</label>
                <select name="tbc" id="tbc" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Diabetes*</label>
                <select name="diabetes" id="diabetes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Patología mamaria*</label>
                <select name="mamaria" id="mamaria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Cardiopatías*</label>
                <select name="cardiopatias" id="cardiopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>ITS*</label>
                <select name="its" id="its" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Várices*</label>
                <select name="varices" id="varices" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. Renal*</label>
                <select name="renal" id="renal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hepatopatías*</label>
                <select name="hepatopatias" id="hepatopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tumores genitales*</label>
                <select name="t_genitales" id="t_genitales" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. gastrointestinal*</label>
                <select name="gastrointestinal" id="gastrointestinal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Chagas*</label>
                <select name="chagas" id="chagas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Alergias/cirugías/tramáticos/medicamentos/transfucionales/otros</label>
            <textarea name="otros" id="otros" cols="30" rows="3"
                class="form-control">{{consulta.hpPersonal.otros}}</textarea>
        </div>
    </div>
</fieldset>

<h3>NO PATOLOGICA PERSONAL</h3>
<fieldset>
    <legend>HISTORIA NO PATOLOGICA PERSONAL</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Agua potable*</label>
                <select name="agua" id="agua" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Alcantarillado*</label>
                <select name="alcantarillado" id="alcantarillado" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Consumo de bebidas alcoholicas*</label>
                <select name="alcohol" id="alcohol" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Catarsis*</label>
                <input type="text" name="catarsis" id="" value="{{consulta.hnpPersonal.catarsis}}"
                    class="form-control required">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Diuresis*</label>
                <input type="text" name="diuresis" id="" value="{{consulta.hnpPersonal.diuresis}}"
                    class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Tabaquicos*</label>
                <select name="fuma" id="fuma" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Alimentación/Otros*</label>
                <textarea name="otros_np" id="" cols="30" rows="3"
                    class="form-control required">{{consulta.hnpPersonal.otros_np}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_f" id="" cols="30" rows="3"
                    class="form-control">{{consulta.hnpPersonal.observacion_f}}</textarea>
            </div>
        </div>
    </div>
</fieldset>

<h3>PATOLOGICO FAMILIAR</h3>
<fieldset>
    <legend>HISTORIA PATOLOGICA FAMILIAR</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hipertensión arterial*</label>
                <select name="f_hipertension" id="f_hipertension" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>TBC Pulmonar*</label>
                <select name="f_tbc" id="f_tbc" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Diabetes*</label>
                <select name="f_diabetes" id="f_diabetes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Patología mamaria*</label>
                <select name="f_mamaria" id="f_mamaria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Cardiopatías*</label>
                <select name="f_cardiopatias" id="f_cardiopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>ITS*</label>
                <select name="f_its" id="f_its" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Várices*</label>
                <select name="f_varices" id="f_varices" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. Renal*</label>
                <select name="f_renal" id="f_renal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hepatopatías*</label>
                <select name="f_hepatopatias" id="f_hepatopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tumores genitales*</label>
                <select name="f_t_genitales" id="f_t_genitales" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. gastrointestinal*</label>
                <select name="f_gastrointestinal" id="f_gastrointestinal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Chagas*</label>
                <select name="f_chagas" id="f_chagas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Otros/Observaciones(pariente que padece la patología)</label>
            <textarea name="f_otros" id="otros" cols="30" rows="3"
                class="form-control">{{consulta.hfpPersonal.f_otros}}</textarea>
        </div>
    </div>
</fieldset>

<h3>INFORMACIÓN LABORATORIOS</h3>
<fieldset>
    <legend>INFORMACIÓN LABORATORIOS</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Baciloscopía*</label>
                <select name="baciloscopia" id="baciloscopia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Billirrubinas*</label>
                <select name="billirrubinas" id="billirrubinas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Comproparasitológico Simple*</label>
                <select name="c_simple" id="c_simple" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Comproparasitológico Seriado*</label>
                <select name="c_seriado" id="c_seriado" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Creatínina en orina*</label>
                <select name="creatinina_orina" id="creatinina_orina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Creatínina Sérica*</label>
                <select name="creatinina_serica" icreatininad="" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Cultivo p/germenes comunes y antibiolograma*</label>
                <select name="cultivo" id="cultivo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Examen general de orina*</label>
                <select name="eg_orina" id="eg_orina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Factor Reumatoide*</label>
                <select name="f_reumatoide" id="f_reumatoide" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Fosfata alcalina y acida*</label>
                <select name="fosfata" id="fosfata" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Frotis tinción Gram*</label>
                <select name="frotis" id="frotis" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Grupo Sanguíneo y factor Rh*</label>
                <select name="grupo_sanguineo" id="grupo_sanguineo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Glicemia*</label>
                <select name="glicemia" id="glicemia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Gota gruesa y frotis sanguineo - tinción*</label>
                <select name="gota" id="gota" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Hemoglobina y hematocritico*</label>
                <select name="hemoglobina" id="hemoglobina" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Hemograma completo*</label>
                <select name="hemograma" id="hemograma" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Inmunoglobulinas IgG, IgM, IgA*</label>
                <select name="igg" id="igg" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Moco fecal*</label>
                <select name="moco" id="moco" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Nitrogeno ureico sérico y úrea*</label>
                <select name="nitrogeno_usu" id="nitrogeno_usu" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Proteína C Reactiva - PCR*</label>
                <select name="proteinac" id="proteinac" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Proteinuria de 24 horas*</label>
                <select name="proteinuria" id="proteinuria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Prueba de Coombs directa/indirecta*</label>
                <select name="coombs" id="coombs" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Prueba rapida para sifilis*</label>
                <select name="sifilis" id="sifilis" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tiempo coagulación y tiempo de sangria*</label>
                <select name="coagulacion" id="coagulacion" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Tiempo de protrombia*</label>
                <select name="protrombia" id="protrombia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tinción PAP*</label>
                <select name="tincion" id="tincion" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Transaminasas TGI-TGP*</label>
                <select name="transaminasas" id="transaminasas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Test de embarazo en sangre/HCG*</label>
                <select name="embarazo" id="embarazo" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Reactantes de fase aguda (VES, Fibrinogeno y PCR)*</label>
                <select name="reactantes" id="reactantes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Reacción Widal*</label>
                <select name="widal" id="widal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>RPR para sifilis - VDRL*</label>
                <select name="rpr" id="rpr" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Estudios realizados</label>
                <textarea name="estudios" cols="30" rows="2"
                    class="form-control">{{consulta.laboratorio.estudios}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Otros estudios realizados</label>
                <textarea name="otros_estudios" cols="30" rows="2"
                    class="form-control">{{consulta.laboratorio.otros_estudios}}</textarea>
            </div>
        </div>
    </div>
</fieldset>