<div class="modal fade" id="m_kardex">
    <div class="modal-dialog">
        <div class="modal-content  bg-sucess">
            <div class="modal-header">
                <h4 class="modal-title">Lista de kardex</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{urlglobal}}/reportes/kardex" method="get" target="_blank" id="formKardex">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Paciente:</label>
                                <select class="form-control" name="paciente_id" id="paciente_id">
                                    <option value="todos">Todos</option>
                                    {{#each pacientes}}
                                    <option value="{{this.id}}">{{this.nombre}} {{this.paterno}} {{this.materno}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 oculto">
                        <div class="form-group">
                            <label>Filtro:</label>
                            <select class="form-control" name="especialidad_id" id="especialidad_id">
                                {{#if_equal user.tipo 'DOCTOR'}}
                                <option value="{{especialidad.id}}">{{especialidad.nombre}}</option>
                                {{/if_equal}}

                                {{#if_equal user.tipo 'ADMINISTRADOR'}}
                                <option value="todos">Todos</option>
                                {{/if_equal}}
                            </select>
                        </div>
                    </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-info" id="btnkardex">Generar reporte</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->