{{#section 'css'}}
<style link="{{urlbase}}/Highcharts-11.4.7/code/css/highcharts.css"></style>
{{/section}}

<!-- BEGIN breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="{{urlbase}}/analisis">Análisis de Predicciones</a></li>
  <li class="breadcrumb-item active">Proveedores</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Análisis de Predicciones > Proveedores</h1>
<!-- END page-header -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse">
            <!-- BEGIN panel-heading -->
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <!-- END panel-heading -->
            <!-- BEGIN panel-body -->
            <div class="panel-body">   
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4>Cantidad proveída por proveedor</h4>
                                <div class="row">
                                    <div
                                        class="col-md-12"
                                        id="container1"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4>
                                    Cantidad proveída por proveedor
                                </h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Año</label>
                                                <input
                                                    type="number"
                                                    id="anio1"
                                                    class="form-control"
                                                />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Mes</label>
                                                <select
                                                    class="form-select"
                                                    id="mes1"
                                                >
                                                    {{#each listMeses}}
                                                    <option value="{{this.key}}">{{this.label}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Seleccione</label>
                                                <select
                                                    class="form-select"
                                                    id="filtro1"
                                                >
                                                    <option value="TODOS">TODOS</option>
                                                    <option value="POR PROVEEDOR">POR PROVEEDOR</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Proveedor</label>
                                                <select
                                                    class="form-select"
                                                    id="proveedor1"
                                                >
                                                    <option value="TODOS">TODOS</option>
                                                    {{#each proveedors}}
                                                    <option value="{{this.id}}">{{this.razon_social}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-12"
                                        id="container3"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4>
                                    Cantidad proveída por proveedor en un rango
                                    de fechas
                                </h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Fecha inicio</label>
                                                <input
                                                    type="date"
                                                    id="fecha_ini2"
                                                    class="form-control"
                                                />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Fecha fin</label>
                                                <input
                                                    type="date"
                                                    id="fecha_fin2"
                                                    class="form-control"
                                                />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Seleccione</label>
                                                <select
                                                    class="form-select"
                                                    id="filtro2"
                                                >
                                                    <option value="TODOS">TODOS</option>
                                                    <option value="POR PROVEEDOR">POR PROVEEDOR</option>
                                                </select>
                                            </div>
                                            <div
                                                class="col-md-3"
                                            >
                                                <label>Proveedor</label>
                                                <select
                                                    class="form-select"
                                                    id="proveedor2"
                                                >
                                                    <option value="TODOS">TODOS</option>
                                                    {{#each proveedors}}
                                                    <option value="{{this.id}}">{{this.razon_social}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-12"
                                        id="container2"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END panel-body -->
        </div>
        <!-- END panel -->
    </div>
</div>

{{#section 'scripts'}}
<script src="{{urlbase}}/Highcharts-11.4.7/code/highcharts.js"></script>
<script> 
    let anio1 = $("#anio1");
    let mes1 = $("#mes1");
    let filtro1 = $("#filtro1");
    let proveedor1 = $("#proveedor1");

    let fecha_ini2 = $("#fecha_ini2");
    let fecha_fin2 = $("#fecha_fin2");
    let filtro2 = $("#filtro2");
    let proveedor2 = $("#proveedor2");

    document.addEventListener('DOMContentLoaded', function() {
        proveedor1.parents(".col-md-3").hide();
        proveedor2.parents(".col-md-3").hide();

        fechaActual();
        grafico1();
        grafico2();
        grafico3();

        //filtros grafico 2
        anio1.on("keyup change",grafico2);
        mes1.on("change",grafico2);
        filtro1.on("change",function(){
            proveedor1.parents(".col-md-3").hide();
            if($(this).val()!='TODOS'){
                proveedor1.parents(".col-md-3").show();
            }
            grafico2();
        });
        proveedor1.on("change",grafico2);


        //filtros grafico 3
        fecha_ini2.on("keyup change",grafico3);
        fecha_fin2.on("keyup change",grafico3);
        filtro2.on("change",function(){
            proveedor2.parents(".col-md-3").hide();
            if($(this).val()!='TODOS'){
                proveedor2.parents(".col-md-3").show();
            }
            grafico3();
        });
        proveedor2.on("change",grafico3);

    });
    function grafico1(){
        $.ajax({
            type: "GET",
            url: "/analisis/proveedors1",
            dataType: "json",
            success: function (response) {
                Highcharts.chart("container1", {
                    chart: {
                        type: "column",
                    },
                    title: {
                        text: "CANTIDAD PROVEÍDA POR PROVEEDORS",
                    },
                    subtitle: {
                        text: "",
                    },
                    xAxis: {
                        type: "category",
                        // crosshair: true,
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: "10px",
                                fontFamily: "Verdana, sans-serif",
                            },
                        },
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: "TOTAL",
                        },
                    },
                    legend: {
                        enabled: true,
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: "{point.y:.2f}",
                            },
                        },
                    },
                    tooltip: {
                        headerFormat:
                            '<span style="font-size:10px"><b>{point.key}</b></span><table>',
                        pointFormat:
                            '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
                        footerFormat: "</table>",
                        shared: true,
                        useHTML: true,
                    },

                    series: [
                        {
                            name: "Cantidad proveída",
                            colorByPoint: true,
                            data: response.datos,
                            dataLabels: {
                                rotation: 0,
                                color: "#000000",
                                format: "{point.y:.2f}", // one decimal
                                y: 0, // 10 pixels down from the top
                                style: {
                                    fontSize: "10px",
                                    fontFamily: "Verdana, sans-serif",
                                },
                            },
                        },
                    ],
                });
            },
            error:function(err){
                console.log(err)
            }
        });
    }
    
    function grafico2(){
        $.ajax({
            type: "GET",
            url: "/analisis/proveedors2",
            data:{
                anio: anio1.val(),
                mes: mes1.val(),
                filtro: filtro1.val(),
                proveedor: proveedor1.val(),
            },
            dataType: "json",
            success: function (response) {
                Highcharts.chart("container3", {
                    chart: {
                        type: "column",
                    },
                    title: {
                        text:
                            "PREDICCIÓN CANTIDAD PROVEÍDA POR PROVEEDOR PARA " +
                            response.mes_anio,
                    },
                    subtitle: {
                        text: "",
                    },
                    xAxis: {
                        type: "category",
                        // crosshair: true,
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: "10px",
                                fontFamily: "Verdana, sans-serif",
                            },
                        },
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: "TOTAL",
                        },
                    },
                    legend: {
                        enabled: true,
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: "{point.y:.2f}",
                            },
                        },
                    },
                    tooltip: {
                        headerFormat:
                            '<span style="font-size:10px"><b>{point.key}</b></span><table>',
                        pointFormat:
                            '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
                        footerFormat: "</table>",
                        shared: true,
                        useHTML: true,
                    },

                    series: [
                        {
                            name: "Cantidad proveída",
                            colorByPoint: true,
                            data: response.datos,
                            dataLabels: {
                                rotation: 0,
                                color: "#000000",
                                format: "{point.y:.2f}", // one decimal
                                y: 0, // 10 pixels down from the top
                                style: {
                                    fontSize: "10px",
                                    fontFamily: "Verdana, sans-serif",
                                },
                            },
                        },
                    ],
                });
            },
            error:function(err){
                console.log(err)
            }
        });
    }
    function grafico3(){
        $.ajax({
            type: "GET",
            url: "/analisis/proveedors3",
            data:{
                filtro: filtro2.val(),
                fecha_ini: fecha_ini2.val(),
                fecha_fin: fecha_fin2.val(),
                proveedor: proveedor2.val(),
            },
            dataType: "json",
            success: function (response) {
                Highcharts.chart("container2", {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: "pie",
                    },
                    title: {
                        text: "CANTIDAD PROVEÍDA POR PROVEEDORES",
                    },
                    subtitle: {
                        text: "",
                    },
                    xAxis: {
                        type: "category",
                        // crosshair: true,
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: "10px",
                                fontFamily: "Verdana, sans-serif",
                            },
                        },
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: "TOTAL",
                        },
                    },
                    legend: {
                        enabled: true,
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: "pointer",
                            dataLabels: {
                                enabled: false,
                            },
                            showInLegend: true,
                        },
                    },
                    tooltip: {
                        headerFormat:
                            '<span style="font-size:10px"><b>{point.key}</b></span><table>',
                        pointFormat:
                            '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
                        footerFormat: "</table>",
                        shared: true,
                        useHTML: true,
                    },

                    series: [
                        {
                            name: "Cantidad proveída",
                            colorByPoint: true,
                            data: response.datos,
                            dataLabels: {
                                rotation: 0,
                                color: "#000000",
                                format: "{point.y:.2f}", // one decimal
                                y: 0, // 10 pixels down from the top
                                style: {
                                    fontSize: "10px",
                                    fontFamily: "Verdana, sans-serif",
                                },
                            },
                        },
                    ],
                });
            },
            error:function(err){
                console.log(err)
            }
        });
    }

    function fechaActual() {
        let date = new Date()

        let day = date.getDate()
        let month = date.getMonth() + 1
        let year = date.getFullYear()

        let fecha = '';
        if (month < 10) {
            fecha = `${year}-0${month}-${day}`;
        } else {
            fecha = `${year}-${month}-${day}`;
        }
        anio1.val(year);
        mes1.val(month < 10 ? '0' + month:month);
        fecha_ini2.val(fecha)
        fecha_fin2.val(fecha)
        return fecha
    }

</script>
{{/section}}
