{{#section 'css'}}
	<link href="{{urlbase}}/template/assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />

{{/section}}

<!-- BEGIN breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item"><a href="javascript:;">Clientes</a></li>
  <li class="breadcrumb-item active">Nuevo</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Clientes <small>Nuevo</small></h1>
<!-- END page-header -->

<div class="row mb-3">
    <!-- BEGIN col-6 -->
    <div class="col-md-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
            <!-- BEGIN panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">Información</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- END panel-heading -->
            <!-- BEGIN panel-body -->
            <div class="panel-body">
                <form action="{{urlbase}}/clientes/store" method="POST" enctype="multipart/form-data">
                <div class="row mb-2">
                    <div class="col-md-6 form-group mb-2">   
                        <label class="form-label">Nombre*</label>
                        <input class="form-control" type="text"  name="nombre" value="{{data.nombre}}"  placeholder="Nombre" required/>
                    </div>
                    <div class="col-md-4 form-group mb-2">   
                        <label class="form-label">C.I.*</label>
                        <input class="form-control" type="number"  name="ci" value="{{data.ci}}"  placeholder="C.I." required/>
                    </div>
                    <div class="col-md-2 form-group mb-2">
                        <label>Expedido*</label>
                        <select name="ci_exp" id="ci_exp" class="form-select required" required> <option value="">Seleccione...</option>
                            <option value="LP">LA PAZ</option>
                            <option value="CB">COCHABAMBA</option>
                            <option value="SC">SANTA CRUZ</option>
                            <option value="PT">POTOSI</option>
                            <option value="OR">ORURO</option>
                            <option value="CH">CHUQUISACA</option>
                            <option value="TJ">TARIJA</option>
                            <option value="BN">BENI</option>
                            <option value="PD">PANDO</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group mb-2">   
                        <label class="form-label">NIT*</label>
                        <input class="form-control" type="text"  name="nit" value="{{data.nit}}"  placeholder="NIT" required/>
                    </div>
                    <div class="col-md-4 form-group mb-2">   
                        <label class="form-label">Teléfono/Celular* <small>Presione enter para agregar</small> </label>
                        <ul id="tag_fonos" class="primary">
                        </ul>
                        <input type="hidden" id="tag_fonos_hidden" name="fono">
                        {{#if error_fono}}
                            <span class="invalid-feedback" style="color:red;display:block" role="alert">
                                <strong>{{ error_fono }}</strong>
                            </span>
                        {{/if}}
                    </div>
                    <div class="col-md-4 form-group mb-2">   
                        <label class="form-label">Correo electrónico</label>
                        <input class="form-control" type="email"  name="correo" value="{{data.correo}}"  placeholder="Correo electrónico"/>
                    </div>
                    <div class="col-md-4 form-group mb-2">   
                        <label class="form-label">Dirección</label>
                        <input class="form-control" type="text"  name="dir" value="{{data.dir}}"  placeholder="Dirección"/>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary w-100px me-5px">Guardar</button>
                    <a href="{{urlbase}}/clientes" type="submit" class="btn btn-default w-100px">Volver</a>
                </form>
            </div>
        </div>
        <!-- END panel -->
    </div>
    <!-- END col-6 -->
</div>

{{#section 'scripts'}}
<script src="{{urlbase}}/template/assets/plugins/tag-it/js/tag-it.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        $("#tag_fonos").tagit({
            availableTags: [],
            afterTagAdded: updateHiddenInput,
            afterTagRemoved: updateHiddenInput
        });

        updateHiddenInput();

        document.getElementById('ci_exp').value = '{{data.ci_exp}}';
    });
    function updateHiddenInput() {
        var tagValues = $("#tag_fonos").tagit("assignedTags");
        document.getElementById('tag_fonos_hidden').value = tagValues.join("; ");
        console.log(document.getElementById('tag_fonos_hidden').value);
    }
</script>
{{/section}}