<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Citas Médicas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{urlglobal}}/home">Inicio</a></li>
                    <li class="breadcrumb-item active">Citas Médicas</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="{{urlglobal}}/citas/create" class="btn btn-info"><i class="fa fa-plus"></i> Nuevo</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table data-table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Paciente</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each citas}}
                                <tr>
                                    <td>{{this.fecha}}</td>
                                    <td>{{this.hora}}</td>
                                    <td>{{this.paciente.nombre}} {{this.paciente.paterno}} {{this.paciente.materno}}
                                    </td>
                                    <td>{{this.estado}}</td>
                                    <td class="btns-opciones">

                                        <a href="{{urlglobal}}/citas/show/{{this.id}}" class="evaluar"><i
                                                class="fa fa-eye" data-toggle="tooltip" data-placement="left"
                                                title="Ver"></i></a>
                                        {{!-- {{#if_equal ../user.tipo "DOCTOR"}} --}}
                                        <a href="{{urlglobal}}/citas/edit/{{this.id}}" class="modificar"><i
                                                class="fa fa-edit" data-toggle="tooltip" data-placement="left"
                                                title="Modificar"></i></a>

                                        <a href="#" data-url="{{urlglobal}}/citas/destroy/{{this.id}}"
                                            data-toggle="modal" data-target="#modal-eliminar" class="eliminar"><i
                                                class="fa fa-trash" data-toggle="tooltip" data-placement="left"
                                                title="Eliminar"></i></a>
                                        {{!-- {{/if_equal}} --}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>

{{>modal/eliminar}}

{{#section 'scripts'}}
<script>

    $('table.data-table').DataTable({
        responsive: true,
        columns: [
            { width: "10%" },
            null,
            null,
            null,
            { width: "15%" },
        ],
        scrollCollapse: true,
        language: lenguaje,
        pageLength: 25
    });


    // ELIMINAR
    $(document).on('click', 'table tbody tr td.btns-opciones a.eliminar', function (e) {
        e.preventDefault();
        let cita = $(this).parents('tr').children('td').eq(2).text();
        $('#mensajeEliminar').html(`¿Está seguro(a) de eliminar la cita del paciente <b>${cita}</b>?<br><h4>Esta acción no se podra deshacer</h4>`);
        let url = $(this).attr('data-url');
        console.log($(this).attr('data-url'));
        $('#formEliminar').prop('action', url);
    });

    $('#btnEliminar').click(function () {
        $('#formEliminar').submit();
    });

</script>
{{/section}}