<h3>INFORMACIÓN</h3>
<fieldset>
    <legend>INFORMACIÓN CONSULTA</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Motivo de la consulta*</label>
                <textarea name="motivo_consulta" id="motivo_consulta" cols="30" rows="3"
                    class="form-control required">{{consulta.motivo_consulta}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Descripción molestia*</label>
                <textarea name="descripcion_dolencia" id="descripcion_dolencia" cols="30" rows="3"
                    class="form-control required">{{consulta.descripcion_dolencia}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hipertensión arterial*</label>
                <select name="hipertension" id="hipertension" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>TBC Pulmonar*</label>
                <select name="tbc" id="tbc" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Diabetes*</label>
                <select name="diabetes" id="diabetes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Patología mamaria*</label>
                <select name="mamaria" id="mamaria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Cardiopatías*</label>
                <select name="cardiopatias" id="cardiopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>ITS*</label>
                <select name="its" id="its" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Várices*</label>
                <select name="varices" id="varices" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. Renal*</label>
                <select name="renal" id="renal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hepatopatías*</label>
                <select name="hepatopatias" id="hepatopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tumores genitales*</label>
                <select name="t_genitales" id="t_genitales" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. gastrointestinal*</label>
                <select name="gastrointestinal" id="gastrointestinal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Chagas*</label>
                <select name="chagas" id="chagas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Alergias/cirugías/tramáticos/medicamentos/transfucionales/otros</label>
            <textarea name="otros" id="otros" cols="30" rows="3"
                class="form-control">{{consulta.hpPersonal.otros}}</textarea>
        </div>
    </div>
</fieldset>

<h3>NO PATOLOGICA PERSONAL</h3>
<fieldset>
    <legend>HISTORIA NO PATOLOGICA PERSONAL</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Agua potable*</label>
                <select name="agua" id="agua" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Alcantarillado*</label>
                <select name="alcantarillado" id="alcantarillado" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Consumo de bebidas alcoholicas*</label>
                <select name="alcohol" id="alcohol" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Catarsis*</label>
                <input type="text" name="catarsis" id="catarsis" value="{{consulta.hnpPersonal.catarsis}}"
                    class="form-control required">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Diuresis*</label>
                <input type="text" name="diuresis" id="diuresis" value="{{consulta.hnpPersonal.diuresis}}"
                    class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Tabaquicos*</label>
                <select name="fuma" id="fuma" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Alimentación/Otros*</label>
                <textarea name="otros_np" id="otros_np" cols="30" rows="3"
                    class="form-control required">{{consulta.hnpPersonal.otros_np}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Observaciones</label>
                <textarea name="observacion_f" id="observacion_f" cols="30" rows="3"
                    class="form-control">{{consulta.hnpPersonal.observacion_f}}</textarea>
            </div>
        </div>
    </div>
</fieldset>

<h3>PATOLOGICO FAMILIAR</h3>
<fieldset>
    <legend>HISTORIA PATOLOGICA FAMILIAR</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hipertensión arterial*</label>
                <select name="f_hipertension" id="f_hipertension" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>TBC Pulmonar*</label>
                <select name="f_tbc" id="f_tbc" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Diabetes*</label>
                <select name="f_diabetes" id="f_diabetes" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Patología mamaria*</label>
                <select name="f_mamaria" id="f_mamaria" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Cardiopatías*</label>
                <select name="f_cardiopatias" id="f_cardiopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>ITS*</label>
                <select name="f_its" id="f_its" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Várices*</label>
                <select name="f_varices" id="f_varices" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. Renal*</label>
                <select name="f_renal" id="f_renal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Hepatopatías*</label>
                <select name="f_hepatopatias" id="f_hepatopatias" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Tumores genitales*</label>
                <select name="f_t_genitales" id="f_t_genitales" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Enf. gastrointestinal*</label>
                <select name="f_gastrointestinal" id="f_gastrointestinal" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Chagas*</label>
                <select name="f_chagas" id="f_chagas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label>Otros/Observaciones(pariente que padece la patología)</label>
            <textarea name="f_otros" id="f_otros" cols="30" rows="3"
                class="form-control">{{consulta.hfpPersonal.f_otros}}</textarea>
        </div>
    </div>
</fieldset>


<h3>EXAMEN FÍSICO</h3>
<fieldset>
    <legend>EXAMEN FÍSICO</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Ex. fisico general. (Conciencia, psiquismo, estado nutricional, fascies)*</label>
                <textarea name="e_general" id="e_general" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.e_general}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Piel y Faneras*</label>
                <textarea name="piel" id="piel" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.piel}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Craneo cara (ojos, oidos, nariz, boca, faringe)*</label>
                <textarea name="craneo" id="craneo" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.craneo}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Cuello y Tiroides*</label>
                <textarea name="cuello" id="cuello" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.cuello}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Torax, Mamas, Cardiopulmonar*</label>
                <textarea name="torax" id="torax" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.torax}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Abdomen*</label>
                <textarea name="abdomen" id="abdomen" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.abdomen}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Genitales, urinario y rectal*</label>
                <textarea name="genitales" id="genitales" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.genitales}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Columna vertebral y extremidades*</label>
                <textarea name="columna" id="columna" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.columna}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Examen neurológico*</label>
                <textarea name="neurologico" id="neurologico" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.neurologico}}</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Impresión diagnóstica*</label>
                <textarea name="impresion" id="impresion" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.impresion}}</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Conducta*</label>
                <textarea name="conducta" id="conducta" cols="30" rows="3"
                    class="form-control required">{{consulta.examen_fisico.conducta}}</textarea>
            </div>
        </div>
    </div>

</fieldset>

<h3>INFORMACIÓN OBSTRÉTICA</h3>
<fieldset>
    <legend>INFORMACIÓN OBSTRÉTICA</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Gestas previas*</label>
                <input type="number" value="{{consulta.obstretico.previas}}" name="previas"
                    class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Abortos*</label>
                <input type="number" value="{{consulta.obstretico.abortos}}" name="abortos"
                    class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Vaginales*</label>
                <input type="number" value="{{consulta.obstretico.vaginales}}" name="vaginales"
                    class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Nacidos vivos*</label>
                <input type="number" value="{{consulta.obstretico.vivos}}" name="vivos" class="form-control required">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Viven*</label>
                <input type="number" value="{{consulta.obstretico.viven}}" name="viven" class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Antecedente de gemelares*</label>
                <select name="gemelares" id="gemelares" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Partos*</label>
                <input type="number" value="{{consulta.obstretico.partos}}" name="partos" class="form-control required">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Cesareas*</label>
                <input type="number" value="{{consulta.obstretico.cesareas}}" name="cesareas"
                    class="form-control required">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Nacidos muertos*</label>
                <input type="number" value="{{consulta.obstretico.muertos}}" name="muertos"
                    class="form-control required">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Fecha ultimo embarazo</label>
                <input type="date" value="{{consulta.obstretico.fin_eAnterior}}" name="fin_eAnterior"
                    class="form-control">
            </div>
        </div>
    </div>
</fieldset>

<h3>GESTACIÓN ACTUAL</h3>
<fieldset>
    <legend>INFORMACIÓN GESTACIÓN ACTUAL</legend>
    <p>(*) Obligatorio</p>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Fecha Inicio Gestación</label>
                <input type="date" value="{{consulta.gestacion.fecha}}" name="fecha" class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Peso inicial</label>
                <input type="number" value="{{consulta.gestacion.peso}}" step="0.01" min="0" name="peso"
                    class="form-control">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Uso de drogas*</label>
                <select name="drogas" id="drogas" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Violencia*</label>
                <select name="violencia" id="violencia" class="form-control required">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Planeado</label>
                <select name="planeado" id="planeado" class="form-control">
                    <option value="">Seleccione...</option>
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Suplementos*</label>
                <select name="suplemento" id="suplemento" class="form-control">
                    <option value="NO">NO</option>
                    <option value="SI">SI</option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Glucemia en ayunas*</label>
                <input type="number" value="{{consulta.gestacion.glucemia}}" min="0" name="glucemia"
                    class="form-control required">
            </div>
        </div>
    </div>
</fieldset>