{{#section 'css'}}
<!-- Custom Css -->
<link href="{{urlbase}}/css/config.css" rel="stylesheet">

<style type="text/css">
    #imagen {
        width: 120px;
        height: 140px;
    }

    .invalid-feedback {
        color: #F44336;
    }

    .archivos {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .archivos form,
    .archivos input[type="file"] {
        top: 0;
        z-index: 100;
        position: absolute;
        opacity: 0;
        margin: auto;
    }

    .subir {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        background: #195ef1;
        color: #fff;
        border: 0px solid #fff;
        z-index: 100;
        cursor: pointer;
    }

    .subir span {
        margin-left: 5px;
        z-index: 100;
    }

    .subir:hover span {
        cursor: pointer;
    }

    .subir:hover {
        cursor: pointer;
        color: #fff;
        background: #3678f4;
    }


    .image-area {
        width: 100%;
        text-align: center;
    }

    .image-area img {
        margin: auto;
        border-radius: 50%;
    }

    .content-area {
        width: 100%;
        text-align: center;
    }

    .content-area h3 {
        font-weight: bold;
        font-size: 1.2em;
        color: rgb(114, 114, 114);
    }

    .content-area p {
        font-weight: 600;
        color: rgb(114, 114, 114);
    }

    .form-line {
        width: 90%;
    }
</style>
{{/section}}
<!-- BEGIN breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
  <li class="breadcrumb-item active">Perfil de usuario</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Perfil de usuario</h1>
<!-- END page-header -->

<div class="row clearfix">
    <div class="col-xs-12 col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="image-area">
                    <img id="imagen_p" src="{{urlbase}}/imgs/users/{{checkPhoto user.foto}}" alt="Imagen de perfil"
                        width="128px" height="128px" />
                </div>
                <div class="content-area">
                    <div class="col-md-12">
                        <div class="w-100 archivos mb-2">
                            <span id="info"></span>
                            <label for="foto" class="subir">
                                <span>Cambiar foto de perfil</span>
                            </label>
                            <form id="formfoto">
                            <input type="file" name="foto" id="foto" accept="image/*" onchange='cambiar()'>
                            </form>
                        </div>
                    </div>
                    <button class="btn btn-secondary" id="cancelar" style="display: none">Cancelar</button>
                    <button class="btn btn-primary" id="guardar_img" style="display: none">Guardar
                        cambios</button>
                    <h3>Usuario: {{ user.usuario }}</h3>
                    <p>Tipo: {{ user.tipo }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="card">
            <div class="card-body">
                <form action="{{urlbase}}/users/cuenta_update/{{user.id}}" class="form-horizontal" id="form_val" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="OldPassword" class="col-sm-3 control-label">Antigua contraseña</label>
                            <input type="password" class="form-control" id="OldPassword" name="oldPassword" placeholder="Antigua contraseña" required>
                            {{#if contra_error}}
                            <span class="invalid-feedback" role="alert">
                                <strong>La contraseña no coincide.</strong>
                            </span>
                            {{/if}}
                        </div>
                        <div class="col-md-12">
                            <label for="NewPassword" class="col-sm-3 control-label">Nueva contraseña</label>
                            <input type="password" class="form-control" id="NewPassword" name="newPassword" placeholder="Nueva contraseña" minlength="6"
                                    required>
                            {{#if contra_error}}
                            <span class="invalid-feedback" role="alert">
                                <strong>Las contraseñas no coinciden. Intenten nuevamente.</strong>
                            </span>
                            {{/if}}
                        </div>
                        <div class="col-md-12">
                            <label for="NewPasswordConfirm" class="col-sm-3 control-label">Nueva contraseña
                                (Confirmar)</label>
                            <input type="password" class="form-control" id="NewPasswordConfirm"
                                name="password_confirm" placeholder="Nueva contraseña (Confirmar)"
                                required>
                        </div>
                        <div class="col-md-4 mt-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script type="text/javascript">
    $(window).ready(function () {
        //EDICION DE IMAGENES
        //Previsualizar la imagen seleccionada
        $('body').on('change', '#foto', function (e) {
            addImage(e);
        });
        function addImage(e) {
            var file = e.target.files[0],
                imageType = /image.*/;

            if (!file.type.match(imageType))
                return;

            var reader = new FileReader();
            reader.onload = fileOnload;
            reader.readAsDataURL(file);
        }
        function fileOnload(e) {
            $('#cancelar').show();
            $('#guardar_img').show();
            var result = e.target.result;
            $('#imagen_p').attr("src", result);
        }

        $('#cancelar').click(function () {
            location.reload();
        });

        $('#guardar_img').click(function () {
            var url = '{{urlbase}}/users/update_foto/{{user.id}}'
            console.log(url);
            let formulario = $("#formfoto");
            var str = new FormData(formulario[0]);
            $.ajax({
                cache: false,
                processData: false,
                contentType: false,
                url: url,
                type: 'POST',
                dataType: 'json',
                data: str
            })
                .done(function (resp) {
                    $('#cancelar').hide();
                    $('#guardar_img').hide();
                    mensajeNotificacion('Actualización correcta', 'Correcto');

                    setTimeout(function () {
                        location.reload();
                    }, 2000)
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    console.log("complete");
                });

            // for (var pair of str.entries()) {
            //             console.log(pair[0]+ ', ' + pair[1]); 
            // }
        });

    });

    function cambiar() {
        var pdrs = document.getElementById('foto').files[0].name;
        document.getElementById('info').innerHTML = pdrs;
    }
</script>
{{/section}}